01\03 - 10_EXERCÍCIOS: TIPOS PRIMITIVOS.

1). Crie uma variável nome e atribua seu nome a ela.<br> Use type() para imprimir o tipo dessa variável.

In [ ]:
# Atribuindo nome a variável
nome = "jr-Félix"

# Exibindo o valor da variável
print("O valor da variável nome é:", nome)

# Exibindo o tipo da variável usando type()
print("O tipo da variável nome é:", type(nome))

# shift + enter p/ executar e move para proxima celula.
# ctrl + enter p/ executar e mantem na mesma celula.

O valor da variável nome é: jr-Félix
O tipo da variável nome é: <class 'str'>

2). Atribua um número inteiro à variável idade e exiba seu tipo.

In [ ]:
# atribuindo um numero inteiro a variável
idade = 25

# Exibindo o valor e o tipo da variável
print("Valor da variável idade:", idade)
print("Tipo da variável idade:", type(idade))

Valor da variável idade: 25
Tipo da variável idade: <class 'int'>

3). Crie uma variável altura com valor decimal (float) e mostre seu tipo.

In [ ]:
altura = 1.75

# Mostrando o valor da variável
print("Valor da altura:", altura)

# Mostrando o tipo da variável
print("Tipo da variável altura:", type(altura))

Valor da altura: 1.75
Tipo da variável altura: <class 'float'>

4). Atribua True a uma variável chamada maior_de_idade. <br>Mostre o tipo dela.
True é um valor booleano (bool) em Python.<br>
type() é a função usada para mostrar o tipo da variável.<br>

In [ ]:
# Atribuindo True a uma variável chamada maior_de_idade
maior_de_idade = True

# Mostrando o tipo da variável
print(type(maior_de_idade))

<class 'bool'>

5). Crie quatro variáveis com os tipos str, int, float, bool. <br>Mostre todas usando print() com f-string.

In [ ]:
# Criando as variáveis
nome = "Felix"       # str
idade = 35           # int
altura = 1.75        # float
programador = True   # bool

# Mostrando os valores com f-string
print(f"Nome: {nome}")
print(f"Idade: {idade}")
print(f"Altura: {altura} m")
print(f"É programador? {programador}")

Nome: Felix
Idade: 35
Altura: 1.75 m
É programador? True

6). Faça um print com f-string dizendo: <br>“João tem 25 anos, mede 1.75m e é maior de idade: True”.

In [ ]:
nome = "João"
idade = 25
altura = 1.75
maior_de_idade = idade >= 18
# \n quebra de linha
print(f"{nome} tem {idade} anos,\n mede {altura}m\n e é maior de idade: {maior_de_idade}")

João tem 25 anos,
 mede 1.75m
 e é maior de idade: True

7). Crie duas variáveis com números e exiba a soma entre eles, mostrando o tipo do resultado.

In [ ]:
# Criando duas variáveis com números

print("====================================")

n1 = int(input("Digite um número:    "))
n2 = int(input("Digite outro número: "))

soma = n1 + n2

print()
print(f"O primeiro valor digitado foi:  {n1} ")
print(f"O segundo  valor digitado foi:  {n2} ")
print("_____________________________________")
print("O tipo do resultado é:", type(soma))
print(f"A soma entre os dois números é: \033[32m{soma}\033[0m ")

====================================
Digite um número:    33
Digite outro número: 27

O primeiro valor digitado foi:  33
O segundo  valor digitado foi:  27
_____________________________________
O tipo do resultado é: <class 'int'>
A soma entre os dois números é: 60

8). Converta um número inteiro para float e mostre o resultado.

In [ ]:
# Solicita um número inteiro ao usuário
numero_inteiro = int(input("Digite um número inteiro: "))

# Converte o número inteiro para float
numero_float = float(numero_inteiro)

# Exibe o resultado
print("O número em float é:", numero_float)

Digite um número inteiro: 10
O número em float é: 10.0

9). Converta um valor booleano para string e mostre.

In [ ]:
# Definindo um valor booleano
valor_booleano = True

# Convertendo para string
valor_string = str(valor_booleano)

# Mostrando o resultado
print("O valor booleano é:", valor_booleano)
print("O valor convertido para string é:", valor_string)
print("O tipo agora é:", type(valor_string))

O valor booleano é: True
O valor convertido para string é: True
O tipo agora é: <class 'str'>

10). Multiplique um número float por um inteiro. Exiba o resultado e o tipo.

In [ ]:
# Definindo um número float
numero_float = 7.5

# Definindo um número inteiro
numero_inteiro = 3

# Multiplicando
resultado = numero_float * numero_inteiro

# Exibindo o resultado
print("Resultado da multiplicação:", resultado)

# Exibindo o tipo do resultado
print("Tipo do resultado:", type(resultado))

Resultado da multiplicação: 22.5
Tipo do resultado: <class 'float'>

11). Soma dos 100 primeiros números naturais ( 1 + 2 + 3 +...+ 98 + 99 + 100 )

In [ ]:
# Soma dos 100 primeiros números naturais

# Inicializando a variável soma
soma = 0

# Loop para somar de 1 até 100
for numero in range(1, 101):
    soma += numero

# Exibindo o resultado
print("A soma dos 100 primeiros números naturais é:", soma)

A soma dos 100 primeiros números naturais é: 5050